<div class="b">
    <div class="">
        <div class="d-flex justify-content-center">
            <div class="card card-post c1">
                <div class="card-content">
                    <p>Technical Skills</p>
                <ul>
                    <li>Java</li>
                    <li>Angular</li>
                    <li>JavaScript</li>
                    <li>TypeScript</li>
                    <li>MySQL</li>
                    <li>HTML & CSS</li>
                </ul>
                </div>
            </div>
            <div class="card card-post c2">
                <div class="card-content">
                    <p>Soft Skills</p>
                <ul>
                    <li>Teamwork</li>
                    <li>Time Management</li>   
                    <li>Smart Working</li>  
                    <li>Effective Communication</li>
                    <li>Critical Thinking</li>
                    <li>Fast Learner</li>
                </ul>
                </div>
            </div>
        </div>
    </div>

</div>
