
<nav>
    <div class="d-flex">
        <div>
            <p class="name black-ops-one-regular">Akshay Portofilio</p>
        </div>
        <div>
            <button class="btn nav-btn text-color bd" routerLink="/home">Home</button>
            <button class="btn nav-btn text-color bd" routerLink="/skill">Skills</button>
            <button class="btn nav-btn text-color bd" routerLink="/edu-cer">Education-Certificate</button>
            <button class="btn nav-btn text-color bd" routerLink="/project">Project</button>
        </div>
    </div>
</nav>
