<div class="div-size">
    <div class="det-card">
        <div class="d-flex justify-content-between">
        <div class="">
            <p class="text">AKSHAY KHAKE</p>
            <div class="d-flex" style="margin-top: -38px;">
                <button class="btn icon-size icon" style="margin-left: 30px;"><i class="fa fa-info-circle" aria-hidden="true"></i></button>
                <button class="btn icon-size icon"><a href="https://github.com/AkshayKhake" target="blank"><i class="fa fa-github" aria-hidden="true"></i></a></button>
                <button class="btn icon-size icon"><a href="mailto:akshaykhake@gmail.com" target="blank"><i class="fa fa-envelope" aria-hidden="true"></i></a></button>
                <button class="btn icon-size icon"><i class="fa fa-linkedin" aria-hidden="true"></i></button>
            </div>
        </div>
        <div class="">
            <img class="photo" src="a7.jpeg">
        </div>
        </div>
    </div>
</div>
