<div class="p">
    <div class="">
        <div class="f card c1">
                <h1 style="text-decoration: underline; text-decoration-color: red;">Education</h1>
                <ul>
                    <li>Diploma  in  Computer Engineering : </li>
                    <p>TSSM  BSCOER  Polytechnic , Narhe under MSBTE <br>Percentage : 71.14%</p>
                    <li>High School :</li>
                    <p>Yashodeep High School under SSC Board <br>Percentage : 74.49%</p>
                </ul>     
        </div> 
        <div class="f card c2">
            <h1 style="text-decoration: underline;text-decoration-color: red;">Achievements & Certificates</h1>
            <ul>
                <li>Career Readiness </li>
                <p>( WNS Global Services from 23rd July to 28th August 2022)</p>
                <li>Industrial Training</li>
                <p>( L & D Infotech PVT.LTD from 4 July to 22 AUG 2022 )</p>
                <li>FULL STACK JAVA TRAINING</li>
                <p>(Complete Java Classes, Pune) from 05th, March 2024 to 29th, July 2024</p>
            </ul>
        </div>

    </div>
</div>

